@charset "UTF-8";

/* adds indents to paragraphs */
#content p {
    text-indent: 20px;
}

.fb-loading, .fb-loading-image, li.fb-album, li.fb-photo {
    background-image: url('img/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.fb-preview-overlay {
    background-image: url('img/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
}

.fb-preview-img {
    padding: 0 10%;
}

img.fb-comment-account {
    background-image: url('img/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
}