@charset "UTF-8";

/* adds indents to paragraphs */
#content p {
    text-indent: 20px;
}

/* removes indents of mission and indents it */
#mission_list p {
    text-indent: 0;
    margin-left: 25px;
}

/* adds numvers and a margin */
#mission_list {
    list-style: decimal;
    margin-left: 20px;
}

@media (min-width: 480px) {
    /* floats images left and adds a margin */
    #board img {
        float: left;
        margin-right: 20px;
    }
    #board p {
        margin-left: 220px;
        text-indent: 0;
    }
    
    /* fixing small style things with each board member */
    #juan, #kathia {
        padding-bottom: 20px;
    }

    #berto {
        padding-bottom: 63px;
    }

    #chema {
        padding-bottom: 120px;
    }

    #gabino {
        padding-bottom: 40px;
    }

    #dani, #emma, #nylani, #konrad, #ayling, #martina {
        padding-bottom: 0;
    }

    /* adding a bottom border to the last board member */
    #lorenzo {
        padding-bottom: 65px;
    }
}

@media (min-width: 519px) {
    
    /* fixing small style things with each board member */
    #berto {
        padding-bottom: 75px;
    }
}

@media (min-width: 535px) {
    
    /* fixing small style things with each board member */
    #chema {
        padding-bottom: 145px;
    }
}

@media (min-width: 557px) {
    
    /* fixing small style things with each board member */
    #gabino {
        padding-bottom: 55px;
    }
}

@media (min-width: 610px) {
    
    /* fixing small style things with each board member */
    #chema {
        padding-bottom: 170px;
    }
    
    #kathia {
        padding-bottom: 40px;
    }
}

@media (min-width: 642px) {
    
    /* fixing small style things with each board member */
    #juan {
        padding-bottom: 40px;
    }
}

@media (min-width: 654px) {
    
    /* fixing small style things with each board member */
    #kathia {
        padding-bottom: 60px;
    }
    
    #ayling {
        padding-bottom: 20px;
    }
    
    #gabino {
        padding-bottom: 85px;
    }
}

@media (min-width: 721px) {
    
    /* fixing small style things with each board member */
    #lorenzo {
        padding-bottom: 85px;
    }
}

@media (min-width: 841px) {
    
    /* fixing small style things with each board member */
    #berto {
        padding-bottom: 95px;
    }
}

@media (min-width: 1098px) {
    
    /* fixing small style things with each board member */
    #konrad {
        padding-bottom: 30px;
    }
}

@media (min-width: 1132px) {
    
    /* fixing small style things with each board member */
    #berto {
        padding-bottom: 115px;
    }
    
    #kathia {
        padding-bottom: 100px;
    }
    
    #ayling {
        padding-bottom: 50px;
    }
    
    #dani {
        padding-bottom: 30px;
    }
    
    #chema {
        padding-bottom: 200px;
    }
}


/* adding style for board list */
.board {
    float: clear;
    padding: 20px 0;
    border-style: solid;
    border-top-color: darkgray;
    border-top-width: 1px;
}

/* fixing indent of paragraphs */
#board p {
    text-indent: 0;
}

/* adding a bottom border to the last board member */
#lorenzo {
    border-bottom-color: darkgray;
    border-bottom-width: 1px;
}