#header {
	background: #4c6a72 !important;
}

ul.dropotron {
	background-color: rgba(0, 0, 0, 0.25) !important;
}

nav#nav {
	font-weight: normal !important;
}

ul.dropotron > li > a {
	color: #bbb !important;
	font-weight: normal !important;
}

ul.dropotron > li > a:hover {
	color: #fff !important;
}

header > p {
	font-weight: normal !important;
}
