@charset "UTF-8";

/* adds indents to paragraphs */
#content p {
    text-indent: 20px;
}

/* removes indents of mission and indents it */
#mission_list p {
    text-indent: 0;
    margin-left: 25px;
}

/* adds numvers and a margin */
#mission_list {
    list-style: decimal;
    margin-left: 20px;
}

@media (min-width: 480px) {
    /* floats images left and adds a margin */
    #board img {
        float: left;
        margin-right: 20px;
    }
    #board p {
        margin-left: 220px;
        text-indent: 0;
    }
}

/* adding style for board list */
.board {
    float: clear;
    padding: 20px 0;
    border-style: solid;
    border-top-color: darkgray;
    border-top-width: 1px;
}

/* fixing indent of paragraphs */
#board p {
    text-indent: 0;
}

/* fixing small style things with each board member */
#juan, #kathia {
    margin-bottom: 20px;
}

#berto {
    margin-bottom: 63px;
}

#chema {
    margin-bottom: 100px;
}

#gabino {
    margin-bottom: 40px;
}

#dani, #emma, #nylani, #konrad, #ayling, #martina {
    padding-bottom: 0;
}

/* adding a bottom border to the last board member */
#lorenzo {
    border-bottom-color: darkgray;
    border-bottom-width: 1px;
    padding-bottom: 65px;
}