@charset "UTF-8";

/* adds indents to paragraphs */
#content p {
    text-indent: 20px;
}

/* doesn't seem to work */
.main_events {
    margin: auto;
    width: auto;
}

#practices {
    text-align: center;
}